.bear-head:hover #left-ear {
  transform: translateY(-10px);
}

#left-ear {
  transition: all .5s linear;
}

.bear-head:hover #right-ear {
  transform: translateY(-10px);
}

#right-ear {
  transition: all .5s linear;
}

#right-eye {
  animation: right-eye 3s linear alternate;
}

#left-eye {
  animation: left-eye 3s linear alternate;
}

@keyframes right-eye {

  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }

}

@keyframes left-eye {

  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-10px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }

}

@keyframes left-ear {

  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
  }

}

@keyframes right-ear {

  0% {
    transform: translateY(50px);
  }

  100% {
    transform: translateY(0);
  }

}
